In [1]:
from pyspark.sql import SparkSession

# 스파크 세션 생성
spark = SparkSession.builder.master("local").appName("SparkSQL").getOrCreate()

In [2]:
spark.sql("SELECT 1 + 1").show()

+-------+
|(1 + 1)|
+-------+
|      2|
+-------+

In [3]:
#json 파일을 읽어서 View를 생성
flight_df = spark.read.json("./resources/2015-summary.json")

flight_df.createOrReplaceTempView("some_sql_view")

In [4]:
#printSchema()를 통해서 json의 Schema를 볼 수 있음.
flight_df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [5]:
spark.sql("""
    SELECT DEST_COUNTRY_NAME, sum(count) as count
    FROM some_sql_view 
    GROUP BY DEST_COUNTRY_NAME"""
    ).show()

+--------------------+-----+
|   DEST_COUNTRY_NAME|count|
+--------------------+-----+
|            Anguilla|   41|
|              Russia|  176|
|            Paraguay|   60|
|             Senegal|   40|
|              Sweden|  118|
|            Kiribati|   26|
|              Guyana|   64|
|         Philippines|  134|
|            Djibouti|    1|
|            Malaysia|    2|
|           Singapore|    3|
|                Fiji|   24|
|              Turkey|  138|
|                Iraq|    1|
|             Germany| 1468|
|              Jordan|   44|
|               Palau|   30|
|Turks and Caicos ...|  230|
|              France|  935|
|              Greece|   30|
+--------------------+-----+
only showing top 20 rows

In [7]:
spark.sql("""
    SELECT DEST_COUNTRY_NAME, sum(count) as count
    FROM some_sql_view 
    GROUP BY DEST_COUNTRY_NAME"""
    ).where("DEST_COUNTRY_NAME like 'S%'"
    ).show()

+--------------------+-----+
|   DEST_COUNTRY_NAME|count|
+--------------------+-----+
|             Senegal|   40|
|              Sweden|  118|
|           Singapore|    3|
|            Suriname|    1|
|               Spain|  420|
|    Saint Barthelemy|   39|
|Saint Kitts and N...|  139|
|         South Korea| 1048|
|Saint Vincent and...|    1|
|        Sint Maarten|  325|
|        Saudi Arabia|   83|
|         Switzerland|  294|
|         Saint Lucia|  123|
|               Samoa|   25|
|        South Africa|   36|
+--------------------+-----+

In [ ]:
## 같이 해봐요

In [9]:
#csv파일을 읽어보세요.
khuda_df = spark.read.option("header", "True").____("./resources/khuda_de.csv")

khuda_df.createOrReplaceTempView("khuda_view")

In [ ]:
## khuda_view를 출력해보세요
spark.sql("""
    SELECT ______________
    FROM _______
    """).show()

In [ ]:
## 고인물인 사람만 sql문을 통해서 뽑아보세요.
spark.sql("""
    SELECT Number, First_Name, Last_Name, Gender, Goinmul
    FROM khuda_view
    ______  _________
    """).show()

In [37]:
## Last Name이 Y로 시작하는 사람만 출력해주세요
## Hint Like 이용.
spark.sql("""
    SELECT Number, First_Name, Last_Name, Gender, Goinmul
    FROM khuda_view
    WHERE _____________
    """).show()

+------+----------+---------+------+-------+
|Number|First_Name|Last_Name|Gender|Goinmul|
+------+----------+---------+------+-------+
|     5|     Soeun|      Yun|     F|      N|
|     6|     Hyeji|       Yu|     F|      Y|
+------+----------+---------+------+-------+

In [38]:
## First Name의 역순으로 출력하게 해주세요
spark.sql("""
    SELECT Number, First_Name, Last_Name, Gender, Goinmul
    FROM khuda_view
    ________ ______________
    """).show()

+------+----------+---------+------+-------+
|Number|First_Name|Last_Name|Gender|Goinmul|
+------+----------+---------+------+-------+
|     8|     Yunji|      Heo|     F|      Y|
|     4|    Soyeon|      Lee|     F|      N|
|     5|     Soeun|      Yun|     F|      N|
|     3| Sangyoung|     Park|     M|      Y|
|     7|   Sangjin|      Han|     M|      Y|
|     2| Myeongeun|      Noh|     F|      Y|
|     6|     Hyeji|       Yu|     F|      Y|
|     1| Gunhyeong|      Kim|     M|      Y|
+------+----------+---------+------+-------+

In [13]:
## CASE WHEN THEN구문을 이용해보자
spark.sql("""
    SELECT NUMBER, FIRST_NAME, LAST_NAME,
    Case ____________
            GOINMUL
    FROM khuda_view
    """).show()

+------+----------+---------+------+-------+
|NUMBER|FIRST_NAME|LAST_NAME|GENDER|GOINMUL|
+------+----------+---------+------+-------+
|     1| Gunhyeong|      Kim|   MAN|      Y|
|     2| Myeongeun|      Noh| Woman|      Y|
|     3| Sangyoung|     Park|   MAN|      Y|
|     4|    Soyeon|      Lee| Woman|      N|
|     5|     Soeun|      Yun| Woman|      N|
|     6|     Hyeji|       Yu| Woman|      Y|
|     7|   Sangjin|      Han|   MAN|      Y|
|     8|     Yunji|      Heo| Woman|      Y|
+------+----------+---------+------+-------+

In [35]:
## khuda_df를 Database에 넣어봅시다.
khuda_df.write.format("jdbc") \
    .option("url","jdbc:postgresql://postgres:5432/khuda_de")\
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", "khuda_de") \
    .option("user", "khuda_de") \
    .option("password", "khuda_de") \
    .save()